.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 400px;
  margin: auto;
}

.edit-form {
  max-width: 400px;
  margin: auto;
}

.list-item {
  display: inline;
}

.updated-para {
  margin-top: 15px;
  text-align: center;
}

.details-divs {
  margin-bottom: 5px;
}

.list-button {
  margin-right: 10px;
}